.card-requisites__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.card-requisites__title {
  margin-bottom: 35px;
}

.card-requisites__btn {
  width: 130px;
}

.input_error {
  border-color: #E30000;
}

.tooltip {
  position: absolute;
  right: -35px;
  bottom: 42px;
  transform: translate(calc(100% + 10px), 50%);
  padding: 15px 20px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  font-size: 14px;
  line-height: 20px;
  color: #E30000;
}

.tooltip::before {
  content: "";
  position: absolute;
  width: 0;
	height: 0;
  left: -9px;
  top: 0;
  bottom: 0;
  margin: auto;
	border-top: 10px solid transparent;
	border-right: 10px solid #FFFFFF;
	border-bottom: 10px solid transparent;
  z-index: 1;
}

.tooltip::after {
  content: "";
  position: absolute;
  width: 0;
	height: 0;
  left: -10px;
  top: 0;
  bottom: 0;
  margin: auto;
	border-top: 10px solid transparent;
	border-right: 10px solid #E6E6E6;
	border-bottom: 10px solid transparent;
}