.catalog__main {
  margin-top: 40px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

#bikeList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 0fr));
  grid-column-gap: 30px;
  width: 100%;
}

.bike-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 33px;
  height: 410px;
}

  .bike-card__img {
    display: block;
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid #CECECE;
    margin-bottom: 17px;
  }

  .bike-card__btn {
    width: 170px;
  }

  .bike-card__title {
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    color: #333333;
  }

  .bike-card__cost {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 18px;
  }

.pointersList {
  width: 350px;
  margin-top: 5px;
}

.pointersList ul {
  list-style: none;
  padding: 0;
  font-size: 18px;
}

.pointersList ul li {
  margin-bottom: 23px;
}

.catalog__title {
  margin-bottom: 45px;
}

.pointersList__title {
  font-size: 22px;
  margin-bottom: 32px;
}

.link {
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}

#loadMore {
  width: 100%;
  text-align: center;
}

.loadMore__btn {
  width: 170px;
  margin-bottom: 40px;
}

.pointersList li {
  position: relative;
}

.active::after {
  content: '';
  display: block;
  position: absolute;
  left: -25px;
  top: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3C1491;
}