html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333333;
}

body {
  overflow-y: scroll;
}

.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1190px;
  min-width: 700px;
}

.content {
  padding: 0 10px;
  flex-grow: 2;
}

.header {
  background-color: #3C1491;
  color: #fff;
  margin-bottom: 23px;
}

.header__content {
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 68px;
}

.logo {
  display: block;
  background: url('../images/logo.png') no-repeat;
  width: 45px;
  height: 27px;
  margin-right: auto;
}

.header__link {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  margin-left: 25px;
  text-decoration: none;
}

.footer {
  padding: 0 10px;
  height: 61px;
  background-color: #3C1491;
  color: #fff;
}

.copyright {
  margin: 20px 0 0;
  line-height: 20px;
  font-size: 14px;
}

.hidden {
  display: none;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  text-decoration: none;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #3C1491;
  border: none;
  cursor: pointer;
  outline: none;
}

.title_middle {
  font-size: 36px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 370px;
}

.label {
  font-size: 18px;
  color: #333333;
  line-height: 26px;
  margin-bottom: 5px;
}

.input {
  padding: 0 10px;
  font-size: 18px;
  height: 42px;
  width: 100%;
  border: 1px solid #CECECE;
  outline: none;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
}

.alternative {
  display: inline;
  color: #0000FF;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}