.login__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.login__title {
  margin-bottom: 35px;
}

.login__btn {
  width: 100px;
  margin-right: 15px;
}