.main-page__main {
  color: #FFFFFF;
  font-weight: 400;
  margin: 75px 0 0 38px;
}

.main-page__title {
  font-size: 48px;
  line-height: 60px;
  max-width: 350px;
}

.main-page__description {
  font-size: 18px;
  line-height: 30px;
  max-width: 765px;
  margin-bottom: 10px;
}

.btn-container__btn {
  padding: 0 25px;
}

.main-page__btn-container
.btn-container__btn:not(:first-child) {
  margin-left: 25px;
}

.background {
  position: absolute;
  left: 0;
  top: 68px;
  width: 100%;
  /* Подсчет высоты между окончанием хедера и началом футера */
  height: calc(100% - 68px - 61px);
  background-image: url(../images/main/bgImg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

.background::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 0, 69, 0.42);
  z-index: -1;
}