.map__title {
  margin-bottom: 40px;
}

#map {
  width: 100%;
  height: 600px;
}

.balloon {
  padding: 10px 20px 10px 10px;
}

  .balloon__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 18px;
  }

  .balloon__btn {
    padding: 0 25px;
    margin-bottom: 12px;
  }