.registration__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.registration__title {
  margin-bottom: 35px;
}

.registration__btn {
  width: 210px;
  margin-right: 15px;
}