{{> header}}
<div class="card-requisites__main main">
  <h3 class="title_middle card-requisites__title">Реквизиты карты</h3>
  <form class="form card-requisites__form">
    <label class="label" for="number">Номер карты</label>
    <div class="input-container">
      <input type="text" class="input number card-requisites__number" name="number">
    </div>
    <label class="label" for="validity-period">Срок действия</label>
    <div class="input-container">
      <input type="text" class="input validity-period card-requisites__validity-period" name="validity-period">
    </div>
    <label class="label" for="cvv">CVV</label>
    <div class="input-container">
      <input type="password" class="input cvv card-requisites__cvv" name="cvv">
    </div>
    <button type="submit" class="btn card-requisites__btn">Сохранить</button>
  </form>
</div>
<script src='/js/card-requisites.js'></script>
{{> footer}}