{{> header}}
<div class="catalog__main main">
  {{#pointInfo}}
    <h3 class="catalog__title title_middle">Каталог велосипедов по адресу {{address}}</h3>
  {{/pointInfo}}
  {{^pointInfo}}
    <h3 class="catalog__title title_middle">Каталог велосипедов</h3>
  {{/pointInfo}}

  <div class="wrapper">
    <div id="bikeList"></div>
    <div class="pointersList">
      <div class="pointersList__title">Пункты выдачи</div>
      <ul>
        {{#pointersList}}
          {{#isActive}}
            <li class="active"><a class="link" href="/catalog/{{_id}}">{{address}}</a></li>
          {{/isActive}}
          {{^isActive}}
            <li><a class="link" href="/catalog/{{_id}}">{{address}}</a></li>
          {{/isActive}}
        {{/pointersList}}

        {{#pointInfo}}
          <li><a class="link" href="/catalog/">Все пункты</a></li>
        {{/pointInfo}}
        {{^pointInfo}}
          <li class="active"><a class="link" href="/catalog/">Все пункты</a></li>
        {{/pointInfo}}
      </ul>
    </div>
  </div>

  <div id="loadMore" class="hidden">
    <button class="loadMore__btn btn" type="button">Загрузить ещё</button>
  </div>
</div>
<script src='/js/api.js'></script>
<script src='/js/catalog.js'></script>
{{> footer}}
