<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="/styles/reset.css">
	<link rel="stylesheet" href="/styles/layout.css">
	<link rel="stylesheet" href="/styles/main-page.css">
	<link rel="stylesheet" href="/styles/catalog-page.css">
	<link rel="stylesheet" href="/styles/map-page.css">
	<link rel="stylesheet" href="/styles/card-requisites-page.css">
	<link rel="stylesheet" href="/styles/login-page.css">
	<link rel="stylesheet" href="/styles/registration-page.css">
	<script src="https://api-maps.yandex.ru/2.1/?apikey=2beed700-02e5-4270-9958-2dbe0c7e9a65&lang=ru_RU" type="text/javascript"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="layout">
	  <div class="header">
			<div class="container">
				<div class="header__content">
					<a href="/" class="logo"></a>
					<a href="/login" class="header__link">Войти</a>
					<a href="/registration" class="header__link">Зарегистрироваться</a>
				</div>
			</div>
	  </div>
		<div class="content container">
