{{> header}}
<div class="main-page__main main">
  <h1 class='main-page__title'>Сервис аренды велосипедов</h1>
  <div class="main-page__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Esse blanditiis illo aperiam voluptatibus at nobis impedit illum deserunt vero commodi 
    voluptate optio excepturi quidem nostrum laboriosam hic quas voluptas, ut!
  </div>
  <div class="main-page__btn-container">
    <a href="/catalog" class="btn-container__btn btn">Арендовать велосипед</a>
    <a href="/map" class="btn-container__btn btn">Найти пункт выдачи</a>
  </div>
  <div class="background"></div>
</div>
{{> footer}}
