{{> header}}
<div class="login__main main">
	<h3 class="title_middle login__title">Вход</h3>
	<form class="form" method="post">
		<label class="label" for="login">Логин</label>
		<input class="input" type="text" class="" id="login" name="login" value="{{ login }}">

		<label class="label" for="password">Пароль</label>
		<input class="input" type="password" class="" id="password" name="password">

		{{#isLoginError}}
			<p>
				Неверные логин или пароль
			</p>
		{{/isLoginError}}
		<div class="btn-group">
			<button class="btn login__btn" type="submit">Войти</button>
			<a class="alternative" href="/registration">или зарегистрироваться</a>
		</div>
	</form>
</div>
{{> footer}}
