{{> header}}
<div class="map__main main">
    <h3 class="map__title title_middle">Пункты выдачи</h3>
    <div id="map"></div>
</div>
<script src='/js/api.js'></script>
<script src='/js/map.js'></script>
{{> footer}}