{{> header}}
<div class="main registration__main">
	<h3 class="title_middle registration__title">Регистрация</h3>
	<form class="form" method="post">
		<label class="label" for="login">Логин</label>
		<input class="input" type="text" class="" id="login" name="login" value="{{ login }}">

		<label class="label" for="password1">Пароль</label>
		<input class="input" type="password" class="" id="password1" name="password1">

		<label class="label" for="password2">Повторите пароль</label>
		<input class="input" type="password" class="" id="password2" name="password2">
		{{#notEqualPasswordsError}}
			<p>
				Пароли не совпадают
			</p>
		{{/notEqualPasswordsError}}
		{{#isEmptyValuesError}}
			<p>
				Заполните все поля
			</p>
		{{/isEmptyValuesError}}
		<div class="btns-group">
			<button class="btn registration__btn" type="submit">Зарегистрироваться</button>
			<a class="alternative" href="/login">или войти</a>
		</div>
	</form>
</div>
{{> footer}}
